@model BlogNew.EF.Yorum


<div class="row">
    <div class="col-md-12 comment-form">
        <h2 class="comment-heading">Yorumlar</h2>
        
        <div class="box-content">
        @using (Html.BeginForm("YorumYap", "Home", FormMethod.Post, new { }))
        {
            <p>
                <label for="name">Adınız</label>
                @Html.EditorFor(model => model.AdSoyad, new { htmlAttributes = new { @class = "form-control", placeholder = "Adınız" } })
            </p>
            <p>
                <label for="email">E-mail</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail" } })
            </p>
            <p>
                <label for="comment">Yorum</label>
                @Html.TextAreaFor(model => model.Yorum1, new { @placeholder = "Yorum", @class = "form-control", rows = "3" })
            </p>
            @Html.HiddenFor(model=>model.MakaleId)
            <input type="submit" class="mainBtn" id="submit-comment" value="Yorum Gönder" />
        }
        </div> <!-- /.box-content -->
    </div> <!-- /.comment-form -->
</div>

